.title {
  color: aqua;
  text-align: center;
}

.routeTest {
  color: skyblue
}

.button-right {
  align-items: flex-end;
}

.CardList-container {
  min-height: 200px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-color: orange;
  border-style: dotted;
  border-radius: 25px;
}

.Dora-container {
  min-height: 200px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-color: red;
  border-style: double;
  border-radius: 25px;
}

.field-dora {
  display: flex;
  justify-content: space-around;
}

.MyHand-container {
  min-height: 200px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-color: skyblue;
  border-style: double;
  border-radius: 25px;
}

.MyDiscard-container {
  min-height: 200px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-color: green;
  border-style: groove;
  border-radius: 10px;
}

.navbar {
  display: flex;
}

.OpponentDiscard-container {
  min-height: 200px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-color: red;
  border-style: groove;
  border-radius: 10px;
}

.Discard-container2 {
  min-height: 200px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  border-color: none;
  border-style: groove;
}

.Result-container {
  min-height: 200px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.email-link {
  text-decoration: none;
  color: gray;
}